body{
  margin:0;
  font-family:Arial;
  background:#111;
  color:#fff;
}

header{
  display:flex;
  justify-content:space-between;
  padding:20px;
  background:#000;
}

a{
  color:#fff;
  text-decoration:none;
  margin:0 10px;
}

.brand span{
  color:#ff4d6d;
}

.hero{
  display:flex;
  padding:40px;
}

.products{
  display:flex;
  gap:20px;
  padding:40px;
}

.product{
  background:#222;
  padding:20px;
  border-radius:10px;
}

.product button{
  padding:10px;
  background:#ff4d6d;
  border:none;
  color:#000;
}

footer{
  text-align:center;
  padding:20px;
}
